@charset "UTF-8";
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
.datagrid-row {
  height: 35px !important;
}
.datagrid-toolbar {
    padding: 5px 2px !important;
}
.panel-header {
	padding: 10px !important;
}
.datagrid-header-row > td {
	padding: 10px 0px !important;
	font-weight: bold;
}